body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-logo{
    color: rgb(240, 236, 236);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}
.bg-container{
    height: 95vh;
    width: 100%;
    background-image: url("https://img.freepik.com/free-photo/horror-scene-with-eerie-hall_23-2150975360.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    background-position: center;
}
.smart-vehicle-card{
    height: 100%;
    text-align: center;
}
.btn1{
    margin: 10px;
    width: 220px;
    background-color: blanchedalmond;
    padding: 7px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
}
.btn2{
    margin: 10px;
    width: 220px;
    background-color: blanchedalmond;
    padding: 7px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
}
 .main-heading{
    font-size: 50px;
    font-weight: 700;
    color: rgb(232, 209, 183);

 }
    .main-para{
        font-size: 20px;
        font-weight: 500;
        color: rgb(238, 203, 85);
    }